       html {
           font-size: 62.5%;
       }
       
       body {
           margin: 0px;
           padding: 0px;
           background: url(img/1.jpg);
           background-repeat: no-repeat;
       }
       
       #header {}
       
       .item1 {
           position: absolute;
           left: 15.4rem;
           top: 2.4rem;
           width: 9.6rem;
           display: inline-block;
       }
       
       .item1 img {
           width: 9.4rem;
           border-radius: 9.5rem;
       }
       
       .item2 {
           margin: 5.2rem auto;
           display: block;
           width: 38%;
       }
       
       .navbar {}
       
       .navbar li {
           display: inline-block;
           text-align: center;
           padding: 0px 2.4rem;
           cursor: pointer;
           color: rgb(8, 20, 133);
       }
       
       .navbar li a {
           font-size: 2.8rem;
           font-family: 'Roboto', sans-serif;
           text-decoration: none;
       }
       
       .navbar li a.active {
           color: rgb(76, 219, 183);
           text-decoration: underline;
       }
       
       .navbar li a:hover {
           color: rgb(76, 219, 183);
       }
       
       .item3 {
           position: absolute;
           right: 15rem;
           top: 5.5rem;
           border: solid 3px;
       }
       
       @media (max-width:998px) {
           html {
               font-size: 55%;
           }
           body {
               background-repeat: repeat-y;
           }
           .item2 {
               position: absolute;
               right: 0rem;
               top: 0rem;
           }
           .navbar li {
               padding: 0px 7.4rem;
           }
           .navbar li a {
               color: #b4ffee;
               font-size: 3.6rem;
           }
           .item1 {
               position: absolute;
               left: 15.4rem;
               top: 2.4rem;
           }
           .item1 img {
               width: 21.4rem;
           }
       }